mixin event-list(event)
  .event-list
    if(event.date > 9)
      .event-list__day= event.date
    else
      .event-list__day= `0${event.date}`
    .event-list__month= event.month
    .event-list__time= event.time
    .event-list__title= event.title
    .event-list__text= event.description
    a(href="/single-event.html").btn-secondary.btn-small.event-list__more View more 

mixin event-grid(event)
  .event-grid
    if(event.date > 9)
      .event-grid__date= `${event.date} ${event.month.slice(0, 3)}`
    else
      .event-grid__date= `0${event.date} ${event.month.slice(0, 3)}`
    .event-grid__time= event.time
    .event-grid__title= event.title
    .event-grid__text= event.description
    a(href="/single-event.html").btn-secondary.btn-small.event-grid__more View more 